body{
  font-family: Arial, Helvetica, sans-serif;
}
#navbarNav{
  margin-left: 30rem;
  
}
#nav{
  color:rgb(250, 239, 233);
}
.page1{
  background-image: url(https://www.teahub.io/photos/full/31-311248_data-src-wood-wallpaper-1080p-images-wood-floor.jpg);
  /* background-image: url(https://wallpaperset.com/w/full/0/e/8/26198.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 39rem;
  background-color:rgb(131,74,45);
}
.page1>h1{
  color:white;
  text-align:end;
  margin-right: 7rem;
  /* margin-bottom: -2rem; */
  font-style: italic;
}
.page1>h2{
  color:white;
  text-align:end;
  margin-right: 7rem;
  font-style: italic;
}
#btn{
  margin-left:50rem; 
  margin-top:-24rem;

}
#about{
  text-align:center;
  color:black;
  font-weight:bold;

}
.container1{
  background-image: url(https://wallpaperset.com/w/full/0/e/8/26198.jpg);
  /* background-image: url(images/logokibanda.png); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  text-align:center;
  color:white;
  /* color:rgb(38, 35, 35); */
  font-weight:bold;
  font-size:x-large;
}
#menu{
  text-align:center;
  color:black;
  font-weight:bold;
}
#pizz{
  margin-left:5rem;
  margin-top:2rem;
  border-radius:1rem;
}
.container{
  display:flex;
  justify-content: space-evenly;
  
}
.img-fluid:hover{
  -ms-transform: scale(1.0); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(1.1); 
}
#pizz:hover{
  -ms-transform: scale(1.0); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(1.1); 
  opacity: 0.5;
  cursor: pointer;
}
.checked {
  color: orange;
}
#btn2{
  float: end;
  margin-left: 75rem;
  background-color:rgb(29,28,34);

}
#btn2:hover{
  color: grey;
}
/* #pizz:hover{
  opacity: 0.6;
  cursor: pointer;
} */
.work{
  display: none;
  color:black;
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translate(-50%,-50%);
  font-size: xx-large;

}
body {
  background: #eee;
}

.height {
  height: 100vh
}